<header class="header">
  <div class="row">
    <a href="./" class="header__link"><h1><img src="./assets/logo.svg" alt="Controle Financeiro"></h1></a>
    <h2 class="header__text">Controle Financeiro</h2>
    <span (click)="onClickMenu()" class="menu-icon"></span>
    <nav class="nav" [ngClass]="{'nav--active': active}">
      <ul class="nav__list">
        <div (click)="onClickMenu()" class="nav__mobile-close" [ngClass]="{'nav__mobile-close--active': active}"></div>
        <li class="nav__item"><a class="nav__item-text" href="#">Dashbord</a></li><span>|</span>
        <li class="nav__item"><a class="nav__item-text" href="#">Resumo</a></li><span>|</span>
        <li class="nav__item"><a class="nav__item-text" href="#">Configurações</a></li>
      </ul>
    </nav> 
  </div>
</header>
