/* You can add global styles to this file, and also import other style files */
 
body
  font-family 'Lato', sans-serif
  margin 0

h1
h2
h3
h4
h5
h6
  padding 0
  margin 0

*, *:before, *:after
  box-sizing: border-box

// select
//   -webkit-appearance none
// 	-moz-appearance none
// 	-ms-appearance none
// 	-o-appearance none
// 	appearance none

.main
  margin-top 30px

.row
  width 100%
  max-width 1120px
  margin 0 auto
  padding 0 10px
  position relative
  clear both

