<section class="transaction">
  <h2 class="transaction__title">Nova transação</h2>
  <form class="transaction__form" [formGroup]="actionForm">
    <label class="transaction__label-type" for="transaction">Tipo de transação</label>
    <select class="transaction__select-type" id="transaction" name="transaction" formControlName="actionControl">
      <option [value]="action" *ngFor="let action of actions">{{action}}</option>
    </select>
    <label class="transaction__label-name" for="name">Nome da mercadoria</label>
    <input class="transaction__input-name" id="name" name="name" placeholder="Nome">
    <label class="transaction__label-value" for="valor">Valor</label>
    <input class="transaction__input-value"id="valor" valor="name" placeholder="R$ 0,00">
    <button class="transaction__button-add">Adicionar transação</button>
  </form>
</section>
<section class="account">
  <h2 class="account__title">Extrato de transações</h2>
  <table class="account__data">
    <thead class="account__head">
      <tr class="account__list account__list--normal">
        <th></th>
        <th class="account__head-merc">Mercadoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="account__list">
        <td>+</td> 
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit</td>
        <td>R$ 10.000,00</td>
      </tr>
      <tr class="account__list">
        <td>+</td> 
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit</td>
        <td>R$ 10.000,00</td>
      </tr>
      <tr class="account__list">
        <td>+</td> 
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit</td>
        <td>R$ 10.000,00</td>
      </tr>
    </tbody>
    <tfoot class="account__tfooter">
      <tr class="account__list account__list--normal">
        <td></td>
        <td class="account__item">Total</td>
        <td class="account__item">R$ 10.000,00</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="account__desc">[LUCRO]</td>
      </tr>
    </tfoot>
  </table>
</section>