<section class="transaction">
  <h2 class="transaction__title">Nova transação</h2>
  <form class="transaction__form" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <label class="transaction__label-type" for="transaction">Tipo de transação</label>
    <select class="transaction__select-type" id="transaction" name="transaction" formControlName="transaction">
      <option [value]="action" *ngFor="let action of actions">{{action}}</option>
    </select>
    <label class="transaction__label-name" for="name">Nome da mercadoria</label>
    <input class="transaction__input-name" id="name" name="name" placeholder="Nome" formControlName="name" required>
    <label class="transaction__label-value" for="valor">Valor</label>
    <input class="transaction__input-value"id="valor" name="valor" placeholder="R$ 0,00" formControlName="price" required pattern="^(([1-9]\d{0,2}(\.\d{3})*)|(([1-9]\.\d*)?\d))(\,\d\d)?"> 
    <button class="transaction__button-add" type="submit">Adicionar transação</button>
  </form>
</section>
<section class="account">
  <h2 class="account__title">Extrato de transações</h2>
  <table *ngIf="transactions.length else empty" class="account__data">
    <thead class="account__head">
      <tr class="account__list account__list--normal">
        <th></th>
        <th class="account__head-merc">Mercadoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="account__list" *ngFor="let transaction of transactions">
        <td class="account__list-transaction">{{ (transaction.transaction == 'Compra') ? '+' : '-' }}</td> 
        <td class="account__list-name">{{transaction.name}}</td>
        <td class="account__list-price">R$ {{transaction.price}}</td>
      </tr>
    </tbody>
    <tfoot class="account__tfooter">
      <tr class="account__list account__list--normal">
        <td></td>
        <td class="account__item">Total</td>
        <td class="account__item account__item--text-center">R$ 10.000,00</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="account__desc">[LUCRO]</td>
      </tr>
    </tfoot>
  </table>
  <ng-template #empty>
    <p>Nenhum resgistro cadastrado!</p>
  </ng-template>
</section>