$margin-col = 2px

col(col-num)
  width ((100% * col-num) /12) - ($margin-col * 2)
  margin $margin-col
  box-sizing border-box

.transaction
  col(4.5)
  display inline-block
  border 1px solid #979797
  border-radius 5px
  padding 15px

.account
  col(8)
  display inline-block
  position absolute
  padding 20px

.transaction__form
.account__data  
  margin-top 20px

.account__data  
  width 100%   

.transaction__title
.account__title  
  text-align center

.transaction__label-type
.transaction__select-type
.transaction__label-name
.transaction__input-name
.transaction__label-value
.transaction__input-value
.transaction__button-add
  display block
  width 100%

.transaction__select-type
.transaction__input-name
.transaction__input-value
  padding 10px
  background #ffffff
  border-radius 5px
  margin 10px 0 20px 0 
  border 1px solid #979797
  color #979797

.transaction__button-add
  color #fff
  background #979797
  padding 10px
  border none
  border-radius 5px
  font-size .9em
  cursor pointer
  margin-bottom 10px
  &:hover
    background #000

table
  border-collapse collapse

.account__list
  border-top 1px solid black
  border-bottom 1px solid black
  height 40px

.account__list--normal 
  border none 
  height 30px  

.account__head
  height 30px

.account__head-merc  
  text-align left 

.account__item
  font-weight bold
  height 40px

.account__item--text-center
  text-align center

.account__desc
  font-size .7em
  text-align center

.account__list-price
  text-align center

.account__list-name
  width 80%

.transaction__select--invalid
.transaction__input-name--invalid
.transaction__input-price--invalid
  border-color #dc3545

.transaction__input-feedback
  width 100%
  margin -10px 0 0 0
  font-size 80%
  color #dc3545

@media screen and (max-width 768px)
  .transaction
    col(12)
    display block

  .account
    col(12)
    display inline
    position absolute
    padding 0
    margin-top 25px

  .transaction__input-select-action
    col(4)
    display inline-block

  .transaction__input-text-name
    col(5)
    display inline-block
    margin-right 35px
    margin-left 35px

  .transaction__input-value-price 
    col(3)
    display inline-block

  .transaction__button-add
    col(6)
    margin-left 365px

@media screen and (max-width 411px)
  .account
    padding 10px
    margin-top 25px

  .account__title 
    border-top 1px solid #000
    padding-top 40px  

  .transaction
    col(12.5)
    border none
    padding 0
    
  .transaction__input-select-action
    col(12)
    display inline-block
    
  .transaction__input-text-name
    col(12)
    display inline-block

  .transaction__input-value-price 
    col(12)
    display inline-block

  .transaction__button-add
    col(12)
    margin 0