$margin-col = 2px

col(col-num)
  width ((100% * col-num) /12) - ($margin-col * 2)
  margin $margin-col
  box-sizing border-box

.transaction
  col(5)
  display inline-block
  border 1px solid #979797
  border-radius 5px
  padding 15px

.account
  col(7)
  display inline-block
  position absolute
  padding 20px

.transaction__form
  margin-top 20px

.transaction__title
.account__title  
  text-align center

.transaction__label-type
.transaction__select-type
.transaction__label-name
.transaction__input-name
.transaction__label-value
.transaction__input-value
.transaction__button-add
  display block
  width 100%

.transaction__select-type
.transaction__input-name
.transaction__input-value
  padding 10px
  background #ffffff
  border-radius 5px
  margin 10px 0 20px 0 
  border 1px solid #979797
  color #979797

.transaction__button-add
  color #fff
  background #000
  padding 10px
  border none
  border-radius 5px
  font-size .9em
  cursor pointer
  margin-bottom 10px