<section class="transaction">
  <h2>Nova transação</h2>
  <form [formGroup]="actionForm">
    <label for="transaction">Tipo de transação</label>
    <select id="transaction" name="transaction" formControlName="actionControl">
      <option [value]="action" *ngFor="let action of actions">{{action}}</option>
    </select>
    <label for="name">Nome da mercadoria</label>
    <input id="name" name="name" placeholder="Nome">
    <label for="valor">Valor</label>
    <input id="valor" valor="name" placeholder="R$ 0,00">
    <button>Adicionar transação</button>
  </form>  
</section>
<section class="account">
  <h2>Extrato de transações</h2>
  <table>
    <thead>
      <tr>
        <th>Mercadoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>    
        <td>+ Lorem ipsum dolor sit amet consectetur adipisicing elit</td>
        <td>R$ 10.000,00</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>R$ 10.000,00 [lucro]</td>
      </tr>
    </tfoot>
  </table>
</section>